# Compiled object files
*.o
*.obj

# Executable files
*.exe
*.out

# Build artifacts
build/
bin/

# VS Code
.vscode/

# Visual Studio
.vs/

# macOS
.DS_Store

# Other OS/editor temporary files
*.swp
*.swo